.b{
   border-radius:10%;
   padding: 10px 10px;
   font-size: 20px;
   color: #eeb872;;
   border: solid;
   font-family:serif;
}
.logo{align-items: center;
    justify-content: center;
}
.tudo{background-color: #ccfff3;}
.titu{
    display: flex;
    align-items:left;
    justify-content: left;
    position: fixed;
    top:10%;
    left:15%;
    width: 100%;
    color:#eeb872;

}
.link{
    position: fixed;
    top:20%;
    left:40%;
    width:100%;
    display: flex;
    align-items:center;
    

 
}
